body,html {
	margin: 0;
	padding: 0;
	background-color: #222;
}
.bodin {
	color: #222;
	letter-spacing: .02em;
	line-height: 1.5em;
	padding: 2px;
	background-color: #222;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	float: left;
	margin: 0;
}
.bodin .milestone {
	color: #FF5555;
	vertical-align: top;
	padding: 0;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	margin-left: -25px;
	margin-right: 15px;
}
.bodin a.note {
	display: inline-block;
	color: #FF0000;
	vertical-align: super;
	font-size: 75%;
	line-height: 1;
	text-decoration: none;
}
.bodin span.align {
	cursor: pointer;
	/* Firefox */
	-moz-transition: all .25s ease-in;
	/* WebKit */
	-webkit-transition: all .25s ease-in;
	/* Opera */
	-o-transition: all .25s ease-in;
	/* Standard */
	transition: all .25s ease-in;
}
.bodin .work {
	height: 100%;
	overflow-y: scroll;
}
.bodin .page {
	background-color: #F9F9F9;
	padding: 60px 80px 120px 80px;
	margin-bottom: 5px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.bodin .options .switches {
	width: 200px;
}
.bodin.slim .page{
	padding: 60px 30px 120px 45px;
}
.bodin.slim .milestone {
	margin-left: -18px;
	margin-right: 8px;
}
#tooltipper {
	text-align: center;
	color: #fff;
	background: #111;
	position: absolute;
	z-index: 100;
	padding: 15px;
}
#tooltipper:after {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #111;
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
}
#tooltipper.top:after {
	border-top-color: transparent;
	border-bottom: 10px solid #111;
	top: -20px;
	bottom: auto;
}
#tooltipper.left:after {
	left: 10px;
	margin: 0;
}
#tooltipper.right:after {
	right: 10px;
	left: auto;
	margin: 0;
}