body, html {
	margin: 0;
	padding: 0;
}
.bodin {
	padding: 10px;
	background-color: #222;
	
}
.bodin .column {
	box-sizing: border-box;
	padding: 0 5px;
	width: 33%;
	float: left;
}
.bodin .view {
	position: relative;
	overflow-y: scroll;
	height: 100%;
}
.bodin .work {
	position: absolute;
	transition: top .5s;
	-webkit-transition: top .5s;
	display: block;
	background-color: #333;
}
.bodin .page {
	box-sizing: border-box;
	background-color: #F9F9F9;
	margin: 10px 0;
	padding: 40px 20px 20px 20px;
	width: 100%;
}
.bodin .page:first-of-type {
	margin-top: 0;
}
.bodin .letter {
	float: left;
	display: block;
	width: 10%;
	font-style: italic;
}
.bodin .text {
	float: left;
	display: block;
	width: 90%;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
}
.bodin .block {
}
.bodin .close {
	box-sizing: border-box;
	width: 100%;
	background-color: #666;
	text-decoration: none;
	color: #FF8888;
	display: block;
	text-align: left;
	padding: 0 10px;
	font-size: 20px;
}