body, html {
	margin: 0;
	padding: 0;
}
.bodin {
	padding: 4px;
	background-color: #222;
	box-sizing: border-box;
}
.bodin .view {
	overflow-y: scroll;
	height: 100%;
}
.bodin .work {
	display: block;
	background-color: #333;
}
.bodin .page {
	color: #222;
	box-sizing: border-box;
	background-color: #F9F9F9;
	margin: 4px 0;
	padding: 20px 20px 20px 20px;
	width: 100%;
}
.bodin .page.first {
	margin-top: 0;
}
.bodin .pageNum {
	width: 100%;
	text-align: right;
	color: #AAA;
	margin-bottom: 25px;
}
.bodin .page:first-of-type {
	margin-top: 0;
}
.bodin .extras {
	float: left;
	display: block;
	width: 10%;	
}
.bodin .marker {
	display: block;
	text-decoration: none;
	font-style: italic;
	margin-bottom: 10px;
}
.bodin .marker:hover {
	text-decoration: underline;
}
.bodin .blockStats {
	display:block;
	color: #DDD;
	text-decoration: none;
	transition: color .25s;
	-webkit-transition: color .25s;
}
.bodin .blockStats:hover,
.bodin .block.overlaid .blockStats {
	color: #FF8888;
}
.bodin .text {
	float: left;
	display: block;
	width: 90%;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 20px;
}
.bodin .block {
}
.bodin .close {
	box-sizing: border-box;
	width: 100%;
	background-color: #CCC;
	text-decoration: none;
	color: #FF6666;
	display: block;
	text-align: left;
	padding: 0 10px;
	font-size: 20px;
}
.bodin .textStats {
	background-color: #EEE;
	padding: 5px;
	text-align: center;
	font-size: 12px;
}
.bodin .textStats span.stat {
	margin: 0 5px;
	color: #FF8888;
}
.bodin .textStats span.unit {
	color: #CCC;
}
.bodin .text span.lite {
	padding: 1px;
	background-color: #FF8888;
}
.bodin .block.overlaid .text {
	position: relative;
}
.bodin .overlay {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #DDD;
	box-sizing: border-box;
	background-color: rgba( 165,0,0,0.8 );
	position: absolute;
	top: 0;
	left: -10;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.bodin .overlay .content {
	padding: 20px;
}
.bodin .overlay .nav {
	padding: 5px 10px;
	background-color: rgba( 165,0,0,0.5 );
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}